<footer class="page-footer purple darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Reminder</h5>
        <p class="grey-text text-lighten-4">Keep your day plan in one place!</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li>
            <a class="grey-text text-lighten-3" href="/calendar">Dashboard</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/calendar">Calendar</a>
          </li>
          <li>
            <a class="grey-text text-lighten-3" href="/about">About</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="white-text footer-copyright">
    <div class="container">
      <span>© 2018</span> 
      <a class="white-text" href="mailto:jedrzej.lukasiuk@gmail.com">Jędrzej Łukasiuk</a><mail>
    </div>
  </div>
</footer>