body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto; 
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

.m-s{
  margin-left: 6px;
}

.weekBreaker {
  margin-bottom: 50px;
  /* border-bottom: 1px solid; */
  min-width: 100%;
}

.card:hover{
  transform: translateY(-2px);
}
