body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto; 
}

.nav-wrapper .fa-bars {
  font-size: 25px;
}

.m-s{
  margin-left: 6px;
}

.weekBreaker {
  margin-bottom: 50px;
  /* border-bottom: 1px solid; */
  min-width: 100%;
}

.card:hover{
  transform: translateY(-2px);
}

@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/font.ttf') format('truetype'); 
}  

.fontExperimental {
  font-family: 'MyWebFont';
  font-size: 24px;
}

.mainFlex {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.zoomeMe:hover{
  transform: scale(2.0);
}