<div class="mainFlex">
  <h1 class="fontExperimental">
    Welcome back {{ user.firstName }} {{ user.lastName }} !
  </h1>
  <div class="row">
    <div class="col s12">
      <a href="/notes/weekly">
        <i class="far fa-calendar-alt teal-text text-darken-2 dashboardIcon"></i>
      </a>
      <h3 class="center-align">See weekly plan</h3>
    </div>
  </div>
</div>