<div class="mainFlex">
  <a href="/notes"><i class="far fa-calendar-alt teal-text text-darken-2 zoomMe" style="font-size: 300px"></i></a>
  <h1 class="fontExperimental">
    Welcome back {{ user.firstName }} {{ user.lastName }} !
  </h1>
</div>