<div class="mainFlex">
  <a href="/calendar"><i class="far fa-calendar-alt teal-text text-darken-2 zoomMe dashboardIcon"></i></a>
  <h1 class="fontExperimental">
    Welcome in the reminder app!
  </h1>
</div>